.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
.vg-tooltip table {
  margin-bottom: 0px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}
.idyll-scroll .idyll-text-container {
  max-width: 55vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 55vw;
}
.d3-component-container {
  height: 20vw;
  width: 20vw;
  margin-left: 72vw;
}
/* #idyll-scroll-1 > .idyll-scroll-graphic {
  background: #33333f;
} */

.idyll-text-container {
  max-width: 1000px;
  margin: 0 auto;
}

.myHeader {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin: 20px;
  line-height: 1.5;
}
.mySubHeader {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin: 20px;
  line-height: 1.5;
}

.myTitle {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin: 88px 0;
  line-height: 1.5;
}

@keyframes fade {
  0%   { opacity: 1.0; }
  50%  { opacity: 0; }
  100% { opacity: 1.0; }
}
.mySubTitle {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  line-height: 1.5;
  font-style: italic;
  animation-name: fade;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.myEnd {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin: 280px 0;
  line-height: 1.5;
}

@media only screen and (max-width: 1920px) {
  .idyll-scroll .idyll-text-container {
    max-width: 55vw;
  }
  .idyll-scroll-text .idyll-step {
    max-width: 55vw;
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }
}
